= render 'shared/commit_message_container', placeholder: placeholder

- if @project.empty_repo?
  = hidden_field_tag 'target_branch', @ref
- else
  - if can?(current_user, :push_code, @project)
    .form-group.branch
      = label_tag 'target_branch', '目标分支', class: 'control-label'
      .col-sm-10
        = render 'shared/branch_switcher'

        .js-create-merge-request-container
          .checkbox
            - nonce = SecureRandom.hex
            = label_tag "create_merge_request-#{nonce}" do
              = check_box_tag 'create_merge_request', 1, true, class: 'js-create-merge-request', id: "create_merge_request-#{nonce}"
              从此提交创建<strong>新的合并请求</strong>
  - else
    = hidden_field_tag 'target_branch', @target_branch || tree_edit_branch
    = hidden_field_tag 'create_merge_request', 1

  = hidden_field_tag 'original_branch', @ref, class: 'js-original-branch'
