- page_title '工件', "#{@build.name} (##{@build.id})", '作业'

.top-block.row-content-block.clearfix
  .pull-right
    = link_to download_namespace_project_build_artifacts_path(@project.namespace, @project, @build),
      rel: 'nofollow', download: '', class: 'btn btn-default download' do
      = icon('download')
      下载工件

.tree-holder
  .tree-content-holder
    %table.table.tree-table
      %thead
        %tr
          %th 名称
          %th 大小
      = render partial: 'tree_directory', collection: @entry.directories(parent: true), as: :directory
      = render partial: 'tree_file', collection: @entry.files, as: :file

- if @entry.empty?
  .center 空
