.scrolling-tabs-container.inner-page-scroll-tabs.is-smaller
  .fade-left= icon('angle-left')
  .fade-right= icon('angle-right')
  %ul.nav-links.scrolling-tabs
    - if milestone.is_a?(GlobalMilestone) || can?(current_user, :read_issue, @project)
      %li.active
        = link_to '#tab-issues', 'data-toggle' => 'tab', 'data-show' => '.tab-issues-buttons' do
          问题
          %span.badge= milestone.issues_visible_to_user(current_user).size
      %li
        = link_to '#tab-merge-requests', 'data-toggle' => 'tab', 'data-show' => '.tab-merge-requests-buttons' do
          合并请求
          %span.badge= milestone.merge_requests.size
    - else
      %li.active
        = link_to '#tab-merge-requests', 'data-toggle' => 'tab', 'data-show' => '.tab-merge-requests-buttons' do
          合并请求
          %span.badge= milestone.merge_requests.size
    %li
      = link_to '#tab-participants', 'data-toggle' => 'tab' do
        参与者
        %span.badge= milestone.participants.count
    %li
      = link_to '#tab-labels', 'data-toggle' => 'tab' do
        标记
        %span.badge= milestone.labels.count

- show_project_name = local_assigns.fetch(:show_project_name, false)
- show_full_project_name = local_assigns.fetch(:show_full_project_name, false)

.tab-content.milestone-content
  - if milestone.is_a?(GlobalMilestone) || can?(current_user, :read_issue, @project)
    .tab-pane.active#tab-issues
      = render 'shared/milestones/issues_tab', issues: milestone.issues_visible_to_user(current_user).include_associations, show_project_name: show_project_name, show_full_project_name: show_full_project_name
    .tab-pane#tab-merge-requests
      = render 'shared/milestones/merge_requests_tab', merge_requests: milestone.merge_requests, show_project_name: show_project_name, show_full_project_name: show_full_project_name
  - else
    .tab-pane.active#tab-merge-requests
      = render 'shared/milestones/merge_requests_tab', merge_requests: milestone.merge_requests, show_project_name: show_project_name, show_full_project_name: show_full_project_name
  .tab-pane#tab-participants
    = render 'shared/milestones/participants_tab', users: milestone.participants
  .tab-pane#tab-labels
    = render 'shared/milestones/labels_tab', labels: milestone.labels
